<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->
<script src="~/jquery/dist/jquery.min.js"></script>
<script src="~/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- header -->
<div class="container">
  <div class="jumbotron bg-secondary">
      <h1>Microservices</h1>
  </div>
</div>

<div class="container">
   <router-outlet></router-outlet>
</div>

<!-- footer -->
<div class="container footerStyle bg-secondary">
  <div class="footerStyleContent">
    <p class="text-white credit">Developed by: 
      Partha Biswas
      <!-- <a href="#">Partha Biswas</a> -->
      . &copy; Copyright 2018</p>
  </div>
</div>

