<!-- <p>
  user-home works!
</p> -->
<div class="container">

    <div class="table-responsive">
        <table class="table">
            
            <tr *ngFor="let update of updates">
<div> test</div>
            </tr>
            <br>
        </table>
    </div>
<br>
test
<div class="panel panel-default">
  <div class="panel-heading">Panel Heading</div>
  <div class="panel-body">Panel Content</div>
</div>
<br>
<div class="panel panel-default">
  <div class="panel-heading">Panel Heading</div>
  <div class="panel-body">Panel Content</div>
</div>
<br>
<div class="panel panel-default">
  <div class="panel-heading">Panel Heading</div>
  <div class="panel-body">Panel Content</div>
</div>
<br>
<div class="panel panel-default">
  <div class="panel-heading">Panel Heading</div>
  <div class="panel-body">Panel Content</div>
</div>
<br>

</div>
