<script src="~/jquery/dist/jquery.min.js"></script>
<script src="~/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- <p>
  user-home works!
</p> -->
<div class="container">


    <div class="table-responsive">
      <br>
        <table class="table">           
            <tr *ngFor="let update of updates">
              <div class="card">
                <div class="card-header">{{update.updateHeading}}</div>
                <div class="card-text">{{update.updateDesc}}</div>
              </div>
              <br>
            </tr>
        </table>
    </div>
</div>
