<!-- <p>
  books works!
</p> -->
<!-- <script src="../node_modules/jquery/dist/jquery.min.js"/>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"/> -->

<div class="container">
  <br>

  <div>
    <ul class="pagination pagination-sm">
      <!-- <li class="page-item">
        <a class="page-link" href="#">Previous</a>
      </li> -->

      <li *ngFor="let page of pages;">
          <button type="button" class="page-link" (click)="gotoPage($event)" value="{{page}}">{{page}}</button> 
           <!-- <a class="page-link"  href="#" (click)="test()">{{page}}</a> -->
      </li> 

      <!-- <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li> -->

      <!-- <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li> -->
    </ul>
  </div>



  <div class="table-responsive">
    <br>
    <table class="table">
      <tr>
        <th style="display:none">Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Publisher</th>
        <th>Description</th>
        <th>Quantity</th>
        <th></th>
      </tr>
      <tr *ngFor="let book of books;">
        <td style="display:none">{{book.id}}</td>
        <td> 
            {{book.title}}<br>
            <div class="thumbnail">
                <img src="data:image/png;base64,{{book.image}}" />
              </div>
        
        </td>
        <td>{{book.author}}</td>
        <td>{{book.category}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.description}}</td>
        <td>
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1" name="quanity">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="addToCart($event)">Add to cart</button>
        </td>

        <td></td>
      </tr>
    </table>
  </div>


  
  <div>
      <ul class="pagination pagination-sm">
        <!-- <li class="page-item">
          <a class="page-link" href="#">Previous</a>
        </li> -->
  
        <li *ngFor="let page of pages;">
            <button type="button" class="page-link" (click)="gotoPage($event)" value="{{page}}">{{page}}</button> 
             <!-- <a class="page-link"  href="#" (click)="test()">{{page}}</a> -->
        </li> 
  
        <!-- <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li> -->
  
        <!-- <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li> -->
      </ul>
    </div>
  
</div>