<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<head th:insert="common/home-common :: common-header" />
<!-- <script type="text/javascript" th:src="@{/js/index.js}"></script> -->
</head>
<body>

	<div class="container">
		<!-- head -->
		<div th:replace="common/home-common :: heading"></div>
		
		<div th:replace="common/home-common :: userNavigation"></div>

		<!-- body -->
		<div class="container row">
		 <form action="#" th:action="@{/addBook}" th:object="${book}"  method="post">
		 <table>
		 	<tr>
		 	<th></th><th></th><th></th>
		 	</tr>
		 	<tr>
			 	<td><label for="title">Title</label></td>
			 	<td><input type="text" class="form-control" id="bookName" name="bookName"  th:field="*{bookName}"/></td>
			 	<td><span th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}"></span></td>
		 	</tr>
		 	<tr>
			 	<td><label for="author">Author</label></td>
			 	<td><input type="text" class="form-control" id="author" name="author"  th:field="*{author}"/></td>
				<td><span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span></td>
		 	</tr>
		 	<tr>
			 	<td><label for="Category">Category</label></td>
				<td>
					<select name="category" id="category" th:field="*{category}" class="form-control">
						  <option th:value="'programming'">Programming</option>
						  <option value="devops">Dev Ops</option>
						  <option value="cloud">Cloud</option>
						  <option value="datastructure">Datastructure</option>
					</select>
				</td>
				<td><span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span></td>
		 	</tr>
		 	<tr>
			 	<td><label for="title">Available Units</label></td>
			 	<td><input type="text" class="form-control" id="availableUnits" name="availableUnits"  th:field="*{availableUnits}"/></td>
				<td><span th:if="${#fields.hasErrors('availableUnits')}" th:errors="*{availableUnits}"></span></td>
		 	</tr>
		 	<tr>
			 	<td><label for="title">Price per unit</label></td>
			 	<td><input type="text" class="form-control" id="price" name="price"  th:field="*{price}"/></td>
				<td><span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span></td>
		 	</tr>
		 	<tr>
		 		<td><button type="submit" id="addBook" name="actionType" value="add" class="btn btn-primary">Add Book</button></td>
		 		<td><button type="submit" id="cancelAddBook" name="actionType" value="cancel" class="btn btn-secondary">Cancel</button></td>
		 		<td><span th:text="${message}"></span></td>
		    <tr>
		    </tr>
		 </table>	 		
		</form>
		</div>


		<!-- footer -->
		<div th:replace="common/home-common :: footer" ></div>


	</div>
</body>
</html>