<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<head th:insert="common/home-common :: common-header" />
<!-- <script type="text/javascript" th:src="@{/js/index.js}"></script> -->
</head>
<body>

	<div class="container">
		<!-- head -->
		<div th:replace="common/home-common :: heading"></div>
		
		<div th:replace="common/home-common :: userNavigation"></div>

		<!-- body -->
		<div class="container row">
		home page works !
		</div>


		<!-- footer -->
		<div th:replace="common/home-common :: footer" ></div>


	</div>
</body>
</html>