<div class="container">

  <div class="row">
    <!-- <div class="col-md-3"> -->
      <div class="card col-md-3" style="width: 18rem;">
        <table class="table">
          <tr (click)="menuChange('profileDetails')" [style.backgroundColor]="currentModule=='profileDetails' ? 'rgb(204,222,255)':'white'">
            <td>Profile Details</td>
          </tr>
          <tr (click)="menuChange('changeAddress')" [style.backgroundColor]="currentModule=='changeAddress' ? 'rgb(204,222,255)':'white'">
              <td>Address Details</td>
            </tr>
          <tr (click)="menuChange('changePassword')" [style.backgroundColor]="currentModule=='changePassword' ? 'rgb(204,222,255)':'white'">
            <td>Change password</td>
          </tr>
        </table>
      </div>
    <div class="card col-md-9" id="profileDetails" *ngIf="currentModule=='profileDetails'">
      <!-- <div class="card-header">Personal Details ::</div> -->
      <div class="card-body">
        <table class="table">
          <tr>
            <td>First Name :</td>
            <td>{{userDetails.firstName}}</td>
          </tr>
          <tr>
            <td>Last Name :</td>
            <td>{{userDetails.lastName}}</td>
          </tr>
          <tr>
            <td>Registered Email :</td>
            <td>{{userDetails.email}}</td>
          </tr>
        </table>
      </div>
    </div>


    <div class="card col-md-9" id="addressDetails" *ngIf="currentModule=='changeAddress'">
      <div class="card-body">
        <form  [formGroup]="myform" >
        <table class="table">
          <tr><td>Address Line1 :</td>
            <td>
              <div class="form-group">
              <input type="text" class="form-control" id="addressLine1" formControlName="addressLine1" >
              <div  *ngIf="addressLine1.touched && addressLine1.invalid" class="alert alert-danger">
              <div *ngIf="addressLine1.errors.required">Cant be left blank</div>
              <div *ngIf="addressLine1.errors.minlength">Should have minimum 5 characters</div>
            </div>
          </div>
            </td>
          </tr>
          <tr><td>Address Line2 :</td>
            <td>
              <input type="text"  class="form-control" id="addressLine2" formControlName="addressLine2">
            </td>
          </tr>
          <tr>
            <td>Pincode :</td>
            <td>
              <div class="form-group">
              <input type="text" class="form-control" id="pincode" formControlName="pincode">
              <div *ngIf="pincode.touched && pincode.invalid" class="alert alert-danger">
              <div *ngIf="pincode.errors.required">Cant be left blank</div>
              <div *ngIf="pincode.errors.minlength">Should be minimum 5 characters</div>
              <div *ngIf="pincode.errors.maxlength">Can have maximum 9 characters</div>
              </div>
            </div>
            </td>
          </tr>
          <tr>
            <td>State :</td>
            <td>
              <input type="text" 
             class="form-control"
             id="state" 
             formControlName="state">
             <div  *ngIf="state.touched && state.invalid" class="alert alert-danger">
              <div *ngIf="state.errors.required">Cant be left blank</div>
              <div *ngIf="state.errors.minlength">Should have minimum 5 characters</div>
            </div>
            </td>
          </tr>
          <tr>
            <td>Country:</td>
            <td><input type="text" 
              class="form-control"
              id="country" 
              formControlName="country">
              <div  *ngIf="country.touched && country.invalid" class="alert alert-danger">
               <div *ngIf="country.errors.required">Cant be left blank</div>
               <div *ngIf="country.errors.minlength">Should have minimum 5 characters</div>
             </div></td>
          </tr>
        </table>
        <br>
        <button type="button" class="btn btn-primary" (click)="updateAddress()" value="" >Update address</button>
      </form>
      </div>
    </div>

    <div class="card col-md-9" id="changePassword" *ngIf="currentModule=='changePassword'">
      <!-- <div class="card-header">Change Password ::</div> -->
      <div class="card-body">
        <table class="table">
          <tr>
            <td>Security Question : </td>
            <td> {{this.securityDetails.securityQuestion}}</td>
          </tr>
          <tr>
            <td >Security Answer : </td>
            <td> <input type="password" (input)="enteredSecurityAnswer=$event.target.value" 
              id="enteredSecurityAnswer" class="form-control" 
              (keyup.enter)="verifySecurityAnswer()"
              (blur)="verifySecurityAnswer()"></td>
          </tr>
          <tr>
            <td > Enter new password : </td>
            <td> <input type="password" (input)="enteredPassword=$event.target.value" id="newPassword" class="form-control" [disabled]="disablePasswordEntry"></td>
          </tr>
          <tr>
            <td > Re-Enter new password : </td>
            <td> <input type="password" (input)="reenteredPassword=$event.target.value" id="rnewPassword" class="form-control" [disabled]="disablePasswordEntry"></td>
          </tr>
          <tr>
            <td>  <button type="button" class="btn btn-primary" (click)="updatePassword($event)" value="" [disabled]="disablePasswordEntry">Change Password</button>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
